// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Exore Colors
$exore_blue: #0a1a23;
$exore_ghost_white: #F5F3F6;
$exore_white: #ffffff;
$exore_silver: #B7C1C3;
$exore_violet: #7e6b8f;
$exore_air_force_Blue: #6a8d92;
