

// Btn Rainbow

.btn-rainbow-container {
    margin: $spacer/4;
    position: relative;
    display: block;
    //width: auto;
    padding: 2px;
    align-self: auto;
    -webkit-box-flex: 0;
    flex: 0 auto;
    border-radius: $spacer*13;
    background-image: linear-gradient(264deg, $exore_violet, $exore_ghost_white 25%, $exore_ghost_white  49%, #fcded9 54%, $exore_blue 87%, $exore_air_force_Blue);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}

.btn-rainbow-link {
  margin: $spacer/4;
  display: flex;
  padding: $spacer/1.5 $spacer ;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  flex-wrap: nowrap;
  border-radius: $spacer*13;
  background-color: $exore_blue;
  text-align: center;
  color: $exore_white;
  text-decoration: none;
}

// next and back buttons

// .btn-solid-violet-link {
//   margin: $spacer/4;
//   display: flex;
//   padding: $spacer/8 $spacer/4 ;
//   -webkit-box-pack: end;
//   -webkit-justify-content: flex-end;
//   -ms-flex-pack: end;
//   justify-content: flex-end;
//   flex-wrap: nowrap;
//   border-radius: $spacer*13;
//   background-color: $exore_violet;
//   text-align: center;
//   color: $exore_white;
//   text-decoration: none;
// }


// .btn-solid-link:hover {
//   background-color: $exore_black;
//   color: $exore_ghost_white ;
// }

// Btn Rainbow violet
.btn-rainbow-violet-container {
  display: flex;
  justify-content: center;
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: $spacer*1.5;
  padding: 1rem 2rem;
}


.btn-rainbow-violet-link {
    margin : 0;
    padding: 12px 58px 12px 31px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-radius: $spacer;
    border-image-source: linear-gradient(to left, $exore_air_force_Blue, $exore_white, $exore_ghost_white, $exore_violet );
    background-color: #11151c;
    text-align: left;
    color: #fff;
}


.btn-rainbow-violet-link:hover {
  background-color: $exore_violet;
  color: $exore_blue ;
}
