// card header with the brain image.
.card-header {
  width: 70%;
  display: flex;
  align-items: center;
  margin-bottom: $spacer;
  background: $exore_white;
  padding: $spacer*3 $spacer;
  border: 1px solid rgb(235,235,235);
  border-radius: $spacer;
  margin-top: $spacer;

  h2, p {
    margin-left: $spacer;
    line-height: 1.4;
  }
}

.card-header-more .card-header-info {
  flex-grow: 1;
  padding: 0 24px;
}


// card lister
.card-lister {
  background-color: $exore_white;
  width: 70%;
  align-items: center;
  margin: 0;
  padding: $spacer*3 $spacer;
  border: 1px solid rgb(235,235,235);
  border-radius: $spacer;
  margin-top: 1rem;

  h2, p {
   // margin: $spacer;
    padding-left: $spacer;
    //line-height: 1.4;
  }

}

.card-lister-info {
  flex-grow: 1;
  padding-left: $spacer * 3;
  margin-left: 0;
  padding-top: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 0.4;


    p{
      i{
        padding-right: $spacer * 2;

      }
    }
  }
}
