.navbar-exore {
  justify-content: space-between;
  background: $exore_blue;

  a {
    color: $exore_white;
  }
  a:hover {
    color: $exore_air_force_Blue;
  }
}



.navbar-exore .navbar-collapse {
  flex-grow: 0;
}

.navbar-exore .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  a {
    color: $exore_black;
  }


}

// specific

#exore-title {
  margin:$spacer/2;

}
